<div class="simplecheckout-block" id="simplecheckout_payment_address" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>
  {% if display_header %}
  <div class="checkout-heading panel-heading">{{ text_checkout_payment_address }}</div>
  {% endif %}
  <div class="simplecheckout-block-content">
    {% for row in rows %}
      {{ row }}
    {% endfor %}
    {% for row in hidden_rows %}
      {{ row }}
    {% endfor %}
  </div>
  {% if display_address_same %}
    <div class="simplecheckout-customer-same-address">
      <label><input type="checkbox" name="address_same" value="1" {{ address_same ? 'checked="checked"' : '' }} data-onchange="reloadAll">{{ entry_address_same }}</label>
    </div>
  {% endif %}
</div>