{{ header }}
<div id="common-home">
    <div class="phone-call-widget">
        <a href="#callback-block"><img src="../../../../../../image/home/calls.png" /></a>
    </div>
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			<div class="container-fluid">
				<div class="welcome-text text-center">
					<h2>Обирай найкращі деталі</h2>
					<h4>Маємо більше ніж 100 000 запчастин</h4>
				</div>
			</div>
			<div class="container">
				<div class="banner-container">
					<div class="banner-to">
						<div class="title_banner-first">То & Фільтра</div>
						<div class="description_banner-first">Супер ціни</div>
						<div class="banner-button">
							<a href="https://autopartsinvolved.com/%D0%A2%D0%9E_%D1%82%D0%B0_%D1%84%D1%96%D0%BB%D1%8C%D1%82%D1%80%D0%B0">Переглянути</a>
						</div>
					</div>
					<div class="banner-engine">
						<div class="title_banner-second">Запчастини двигуна</div>
						<div class="description_banner-second">для будь-якого автомобіля</div>
						<div class="deep-description_banner-second">Все, що відноситься до
							<span class="deep-description_banner-second_dedicated">двигуна</span>
						</div>
						<div class="banner-button_banner-second">
							<a href="https://autopartsinvolved.com/%D0%B4%D0%B5%D1%82%D0%B0%D0%BB%D1%96_%D0%B4%D0%B2%D0%B8%D0%B3%D1%83%D0%BD%D0%B0">Переглянути</a>
						</div>
					</div>
				</div>
			</div>
			<div class="popular-categories">
				<div class="container">
					<div class="popular-categories_title">
						<span>популярні</span>
						категорії
					</div>
					<div class="popular-categories_grid">
						<div class="popular-categories_category">
							<div class="popular-category_image">
                <a href="#">
								  <img src="../../../../../../image/home/bodyparts.png" alt width="150" height="150"/>
                </a>
              </div>
							<div class="popular-category_text">
								<div class="popular-category_list-title">
									<a href="https://autopartsinvolved.com/%D0%9A%D1%83%D0%B7%D0%BE%D0%B2%20%D1%82%D0%B0%20%D0%B5%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B8">Кузов</a>
								</div>
								<ul class="popular-category_list">
									<li>
										<a href="https://autopartsinvolved.com/%D0%9A%D1%83%D0%B7%D0%BE%D0%B2%20%D1%82%D0%B0%20%D0%B5%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B8/%D0%B2%D0%BD%D1%83%D1%82%D1%80%D1%96%D1%88%D0%BD%D1%96_%D0%B5%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B8">Внутрішні елементи</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%9A%D1%83%D0%B7%D0%BE%D0%B2%20%D1%82%D0%B0%20%D0%B5%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B8/%D0%B7%D0%BE%D0%B2%D0%BD%D1%96%D1%88%D0%BD%D1%96_%D1%87%D0%B0%D1%81%D1%82%D0%B8%D0%BD%D0%B8">Зовнішні елементи</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%9A%D1%83%D0%B7%D0%BE%D0%B2%20%D1%82%D0%B0%20%D0%B5%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B8/%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%81%D0%BA%D0%BB%D0%BE%D0%BE%D1%87%D0%B8%D1%81%D0%BD%D0%B8%D0%BA%D0%B0">Система склоочисника</a>
									</li>
								</ul>
								<div class="popular-category_button">
									<a href="https://autopartsinvolved.com/%D0%9A%D1%83%D0%B7%D0%BE%D0%B2%20%D1%82%D0%B0%20%D0%B5%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B8">Показати всі <i class="fa-solid fa-caret-right"></i></a>
								</div>
							</div>
						</div>
						<div class="popular-categories_category">
							<div class="popular-category_image">
                <a href="#">
								  <img src="../../../../../../image/home/optics.jpg" alt width="150" height="150"/>
                </a>
              </div>
							<div class="popular-category_text">
								<div class="popular-category_list-title">
									<a href="https://autopartsinvolved.com/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%B0_%D1%82%D0%B0_%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F">Електр. частина</a>
								</div>
								<ul class="popular-category_list">
									<li>
										<a href="https://autopartsinvolved.com/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%B0_%D1%82%D0%B0_%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F/%D0%B0%D1%83%D0%B4%D1%96%D0%BE">Аудіо</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%B0_%D1%82%D0%B0_%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%B0">Електрика</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%B0_%D1%82%D0%B0_%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F/%D0%B7%D0%B0%D0%BF%D0%B0%D0%BB%D1%8E%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F">Запалювання</a>
									</li>
								</ul>
								<div class="popular-category_button">
									<a href="https://autopartsinvolved.com/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%B0_%D1%82%D0%B0_%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F">Показати всі <i class="fa-solid fa-caret-right"></i></a>
								</div>
							</div>
						</div>
						<div class="popular-categories_category">
							<div class="popular-category_image">
								<a href="#">
								  <img src="../../../../../../image/home/lighting.png" alt width="150" height="150"/>
                </a>
							</div>
							<div class="popular-category_text">
								<div class="popular-category_list-title">
									<a href="https://autopartsinvolved.com/%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F">Освітлення</a>
								</div>
								<ul class="popular-category_list">
									<li>
										<a href="https://autopartsinvolved.com/%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F/%20%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D1%82%D1%83%D0%BC%D0%B0%D0%BD%D0%BD%D0%B0_%D1%84%D0%B0%D1%80%D0%B0">Протитуманна фара</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F/%D0%97%D0%B0%D0%B4%D0%BD%D1%96%D0%B9%20%D0%BB%D1%96%D1%85%D1%82%D0%B0%D1%80">Задній ліхтар</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F/%D0%BB%D0%B0%D0%BC%D0%BF%D0%B0_%D0%B1%D0%BB%D0%B8%D0%B6%D0%BD%D1%8C%D0%BE%D0%B3%D0%BE_%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B0">Лампа ближнього світла</a>
									</li>
								</ul>
								<div class="popular-category_button">
									<a href="https://autopartsinvolved.com/%D0%BE%D1%81%D0%B2%D1%96%D1%82%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F">Показати всі <i class="fa-solid fa-caret-right"></i></a>
								</div>
							</div>
						</div>
						<div class="popular-categories_category">
							<div class="popular-category_image">
								<a href="#">
								  <img src="../../../../../../image/home/performance.png" alt width="150" height="150"/>
                </a>
							</div>
							<div class="popular-category_text">
								<div class="popular-category_list-title">
									<a href="https://autopartsinvolved.com/%D0%B4%D0%B5%D1%82%D0%B0%D0%BB%D1%96_%D0%B4%D0%B2%D0%B8%D0%B3%D1%83%D0%BD%D0%B0">Деталі двигуна</a>
								</div>
								<ul class="popular-category_list">
									<li>
										<a href="https://autopartsinvolved.com/%D0%B4%D0%B5%D1%82%D0%B0%D0%BB%D1%96_%D0%B4%D0%B2%D0%B8%D0%B3%D1%83%D0%BD%D0%B0/%D0%B3%D1%96%D0%B4%D1%80%D0%BE%D0%BA%D0%BE%D0%BC%D0%BF%D0%B5%D0%BD%D1%81%D0%B0%D1%82%D0%BE%D1%80%D0%B8">Гідрокомпенсатори</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%B4%D0%B5%D1%82%D0%B0%D0%BB%D1%96_%D0%B4%D0%B2%D0%B8%D0%B3%D1%83%D0%BD%D0%B0/%D0%BC%D0%B0%D1%81%D0%BB%D1%8F%D0%BD%D0%B8%D0%B9_%D0%BF%D1%96%D0%B4%D0%B4%D0%BE%D0%BD">Масляний піддон</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%B4%D0%B5%D1%82%D0%B0%D0%BB%D1%96_%D0%B4%D0%B2%D0%B8%D0%B3%D1%83%D0%BD%D0%B0/%D0%BF%D0%BE%D1%80%D1%88%D0%B5%D0%BD%D1%8C">
											Поршень</a>
									</li>
								</ul>
								<div class="popular-category_button">
									<a href="https://autopartsinvolved.com/%D0%B4%D0%B5%D1%82%D0%B0%D0%BB%D1%96_%D0%B4%D0%B2%D0%B8%D0%B3%D1%83%D0%BD%D0%B0">Показати всі <i class="fa-solid fa-caret-right"></i></a>
								</div>
							</div>
						</div>
						<div class="popular-categories_category">
							<div class="popular-category_image">
								<a href="#">
								  <img src="../../../../../../image/home/prod_2.jpg" alt width="150" height="150"/>
                </a>
							</div>
							<div class="popular-category_text">
								<div class="popular-category_list-title">
									<a href="https://autopartsinvolved.com/%D1%80%D0%BE%D0%B7%D1%85%D1%96%D0%B4%D0%BD%D0%B8%D0%BA%D0%B8">Розхідники для ТО</a>
								</div>
								<ul class="popular-category_list">
									<li>
										<a href="https://autopartsinvolved.com/%D1%80%D0%BE%D0%B7%D1%85%D1%96%D0%B4%D0%BD%D0%B8%D0%BA%D0%B8/%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%82_%D0%B3%D1%80%D0%BC">Комплект ГРМ</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D1%80%D0%BE%D0%B7%D1%85%D1%96%D0%B4%D0%BD%D0%B8%D0%BA%D0%B8/%D1%81%D0%B2%D1%96%D1%87%D0%BA%D0%B0_%D0%B7%D0%B0%D0%BF%D0%B0%D0%BB%D1%8E%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F">
											Свічка Запалювання</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D1%80%D0%BE%D0%B7%D1%85%D1%96%D0%B4%D0%BD%D0%B8%D0%BA%D0%B8/%D0%B3%D0%B0%D0%BB%D1%8C%D0%BC%D1%83%D0%B2%D0%B0%D0%BB%D1%8C%D0%BD%D1%96_%D0%BA%D0%BE%D0%BB%D0%BE%D0%B4%D0%BA%D0%B8">Гальмувальні колодки</a>
									</li>
								</ul>
								<div class="popular-category_button">
									<a href="https://autopartsinvolved.com/%D1%80%D0%BE%D0%B7%D1%85%D1%96%D0%B4%D0%BD%D0%B8%D0%BA%D0%B8">Показати всі <i class="fa-solid fa-caret-right"></i></a>
								</div>
							</div>
						</div>
						<div class="popular-categories_category">
							<div class="popular-category_image">
								<a href="#">
								  <img src="../../../../../../image/home/wheel-set.png" alt width="150" height="150"/>
                </a>
							</div>
							<div class="popular-category_text">
								<div class="popular-category_list-title">
									<a href="https://autopartsinvolved.com/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0">Колеса та Шини</a>
								</div>
								<ul class="popular-category_list">
									<li>
										<a href="https://autopartsinvolved.com/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0/%D0%B4%D0%B8%D1%81%D0%BA%D0%B8">Диски</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0/%D0%BA%D0%BE%D0%B2%D0%BF%D0%B0%D0%BA%D0%B8">Ковпаки</a>
									</li>
									<li>
										<a href="https://autopartsinvolved.com/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0/%D1%80%D0%B5%D0%B7%D0%B8%D0%BD%D0%B0">Резина</a>
									</li>
								</ul>
								<div class="popular-category_button">
									<a href="https://autopartsinvolved.com/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0">Показати всі <i class="fa-solid fa-caret-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ column_right }}
	</div>
	<div class="callback-block" id="callback-block">
	    <div class="container">
	        <div class="callback-inner">
              <div class="title-callback-block" name="callback-block">
                Хочете ми зателефонуємо ?
              </div>
              <form method="post" action="" enctype="multipart/form-data" id="callbackForm">
                <!-- Номер пользователя -->
                <div class="group-of-form">
                  <label for="number" class="main-label">На який номер телефону вам зателефонувати ? </label>
                  <div class="group-of-form-inner">
                      <input id="phone" name="number" type="tel" required class="form-input" value=""
                        placeholder="Номер телефону" minlength="10" maxlength="14"
                        <!-- Кнопка для отправки формы на сервер -->
                        <div class="form-submit">
                          <input id="sendForm" type="submit" value="Надіслати" />
                        </div>
                  </div>
                  <div id="response"></div>
                  </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#callbackForm").submit(function(e){
        e.preventDefault();
        if(e.currentTarget[0].value.match(/^[A-Za-z]+$/)){
            $("#response").text("Номер не повинен містити літери !");
            $("#response").css("color", "red");
            return false
        }else{
            var dataContact = $('#callbackForm').serialize();
            $.ajax({
                url: 'index.php?route=information/contact/ajaxSend',
                data: dataContact,
                type: 'post',
                dataType: 'json',
                beforeSend: function() {
                    $("#sendForm").prop("disabled", true);
                },
                success: function(response) {
                    if (response["success"]) {
                        $("#sendForm").prop("disabled", false);
                        $("#callbackForm").trigger("reset");
                        $("#response").text(response["success"]);
                        $("#response").css("color", "green");
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                    console.log(textStatus); 
                    console.log(errorThrown);
                    $("#sendForm").prop("disabled", false);
                    $("#callbackForm").trigger("reset");
                    $("#response").text("Сталася помилка ! Спробуйте ще раз або пізніше");
                    $("#response").css("color", "red");
                }
            });
        }
    })
</script>
{{ footer }}
